/* custom.css */
html {
    /* define light-mode variable overrides here */
    --primary-color: #f15a29;
    --primary-dark-color: #ce3902;
    --primary-light-color: #faac8f;
    --primary-lighter-color: #ffd9c5;
    --primary-lightest-color: #ffefe0;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        /* define dark-mode variable overrides here if you DON'T use doxygen-awesome-darkmode-toggle.js */
    --primary-color: #f15a29;
    --primary-dark-color: #f58d67;
    --primary-light-color: #ae5332;
    --primary-lighter-color: #211e19;
    --primary-lightest-color: #1c1a19;
    }
}

html.dark-mode {
    /* define dark-mode variable overrides here if you DO use doxygen-awesome-darkmode-toggle.js */
}
